<%= render "lists/banner" %>

<div class="container">
  <div class="d-flex justify-content-between mt-5">
    <h3>My Lists</h3>
    <%= link_to "Create a movie list", new_list_path, class: "btn btn-primary"%>
  </div>

    <div class="cards mt-5">
    <% @lists.each do |list| %>
      <% if list.photo.key %>
        <%= link_to list_path(list) do %>
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.8)), url('<%= cl_image_path list.photo.key, height: 300,  crop: :thumb, gravity: :face %>')">
            <h3> <%= list.name %></h3>
          </div>
        <% end %>
      <% else %>

        <%= link_to list_path(list) do %>
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.6)), url('...')">
            <h3> <%= list.name %></h3>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
